@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-decoration: none;
  scroll-behavior: smooth;
}

body{
  background-color: #272727;
}

.gradient {
  background: -webkit-linear-gradient(180deg, #601369, #0E40D7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav_text{
  @apply text-zinc-100 text-sm lg:text-lg font-normal
}


.section_text{
  @apply font-bold text-center py-2 text-2xl md:text-3xl lg:text-[45px] pt-10
}


.footer {
  @apply flex flex-col text-white gap-10 justify-center items-center my-16
}